/* main.css */

/* a. Webfonts and Icon fonts
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800i&display=swap&subset=cyrillic-ext");


@import url("../fontawesome/css/all.min.css");

/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

/* c. Default and Basic Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
*/

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


html {
    font-size: 16px;
}
  
html, * {
    font-family: 'Open Sans', sans-serif;
}
  
body {
    margin: 0;
    color: #2e3440;
    font-size: 1rem;
    line-height: 1.5;
}

ol, ul {
	list-style: none;
}

/* Typography */


h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0.75 0.5;
    font-weight: 500;
}
  
h1 {
    font-size: 2.4em;
}
  
h2 {
    font-size: 1.8em;
}
  
h3 {
    font-size: 1.6em;
}
  
strong {
    font-weight: 700;
}

/* Navigation */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


hr {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    border: 0;
    margin-bottom: 1.5em;
}

.cf {
    clear: both;
    display: block;
    content: '';
}
